@model EventManager.Models.ErrorViewModel
@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Error</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h2 class="text-danger">@Model.ErrorMessage</h2>
}
else
{
    <h2 class="text-danger">An error occured</h2>
}

@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}

<a asp-controller="Home" asp-action="Index">Back to menu</a>