@model IEnumerable<EventManager.Models.EventViewModel>

<!DOCTYPE html>

<html>
<head>
    <title>Event list</title>
</head>
<body>
<h1>Here is all the futur event</h1>
<a class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Create">+</a>

    <div>
        @foreach (var item in Model)
        {
            <h2>@item.Name</h2>
            <p>Start on : @item.StartDate.ToString("D")</p>
            <p>End on : @item.EndDate.ToString("D")</p> 
            <p>Country : @item.Address_City</p>
                
            <a class="btn btn-info" asp-action="Detail" asp-route-id=@item.Id>Details</a>
            <a class="btn btn-warning" asp-action="Update" asp-route-id=@item.Id>Update</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
        }
    </div>
</body>
</html>