@model DaysFormModel

@{
    ViewBag.Title = "Create New Day";
    Layout = "_Layout";
}

<div class="container my-5 row justify-content-center">
    <h2 class="text-center mb-4">Create New Day</h2>
    
    <form method="POST" class="shadow-lg p-4 rounded bg-light col-6">
        <input type="hidden" asp-for="EventId" value="@ViewBag.EventId" />

        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label">Day Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter the day name" required>
        </div>

        <div class="form-group mb-3">
            <label asp-for="StartDate" class="form-label">Start Date</label>
            <input asp-for="StartDate" type="date" class="form-control" required>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ThemeId" class="form-label">Theme</label>
            <select asp-for="ThemeId" class="form-select" required>
                <option value="">Select a theme</option>
                @foreach (var t in ViewBag.Theme)
                {
                    <option value="@t.Id">@t.Name</option>
                }
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="Event" asp-action="Detail" asp-route-id=@ViewBag.EventId class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>