@model DaysFormModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Update the day @Model.Name</h1>

<form>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Start Date</label>
        <input asp-for="StartDate" type="date" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>