@model EventViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Event Detail</title>
</head>
<body>

<h1>@Model.Name</h1>
<p>@Model.State</p>
<p>@Model.Address.Country</p>

<div>

</div>
</body>
</html>