@model ThemeFormModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Update your themes</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>