@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Liste des évènements</h1>

<div class="text-center">
    @foreach (var item in Model)
    {
    <li>@item.Name</li>
    }
</div>